<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title> 회원 로그인 </title>
</head>
<body>
<p1> 회원 로그인 </p1>
<div th:text="${errorMessage}">
</div>

<form method="post" action="/member/signin.do">

  <div>
    <input type="tel" name="username" placeholder="아이디(핸드폰번호)를 입력" required/>
  </div>
  <div>
    <input type="password" name="password" placeholder="비밀번호 입력" required/>
  </div>
  <div>
    <button type="submit"> 로그인 </button>
  </div>

</form>

<hr/>
</body>
</html>