<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<div th:fragment="fragment-body-menu">
  <a href="/"> 홈화면 </a>
  |
  <a href="/member/book/book.do"> 도서 검색 </a>
  |
  <a href="/member/cartlist.do"> 장바구니 </a>
  |
  <a href="/member/orderbook.do"> 도서 주문 </a>
  |
  <a href="/member/signin.do"> 로그인 </a>
  |
  <a href="/member/membermod.do"> 회원 정보수정 </a>
  |
  <a href="/member/signout.do"> 로그아웃 </a>
  |
  <a href="/member/signup.do"> 회원가입 </a>
</div>

<div th:fragment="fragment-admin-body-menu">
  <a href="/admin/main.do"> 관리자 메인 </a>
  |
  <a href="/admin/memberList.do"> 회원 관리 </a>
  |
  <a href="/admin/book.do"> 도서 관리 </a>
  |
  <a href="/admin/orderbook.do"> 주문도서 관리 </a>
  |
  <a href="/admin/recommend.do"> 추천도서 관리 </a>
  |
  <a href="/admin/payment.do"> 매출 관리 </a>
  |
  <a href="/member/signout.do"> 로그아웃 </a>
  |
</div>
</body>
</html>
